
/* .Pizzas {
    display: flex;
} */

.Pizza {

    border: solid black;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    flex: 1;

}

.medium_Pizza {
    /* background-color: #FF595E; */

}

.large_Pizza {
    /* background-color: blueviolet; */

}

.small_Pizza {
    /* background-color: yellowgreen; */

}


.contact_Us {
    /* background-color: #1982c4; */
    border: solid black;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

/* .title {
    background-color: #1982c4;
    border: solid black;
    padding: 1em;
    margin: 1em;
    text-align: center;

} */

@media(min-width: 768px) {
    .Pizzas{
        display: flex;
    }

    body {
        background-color: orange;
    }
    /* .container{
        display: flex;
    } */
    .header{
    display: flex;
   } 
   .cart {
    /* background-color: dodgerblue; */
    /* padding: 1em; */
    width: 100%;
    /* margin-top: -10em; */
    /* border-radius-bottom: 1em; */
}
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    text-align: center;
    vertical-align: bottom;
    /* height: 50px; */
}

th,
td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ccc;

}

.f1 {
    flex: 1
}

.f3 {
    flex: 3;
}
.message{
    padding: 1em;
    margin: 1em;
    background-color: orange;
}
.header {
    padding: 1em;
    /* background-color: dodgerblue; */
    
    border-radius: 1em;
  
}
/* .box{
    flex:1;
} */

.cart-box {
    display: flex;
    justify-content: flex-end;
    

}

.cart {
    /* background-color: dodgerblue; */
    /* margin: 0.5em; */
    padding: 1em;
    width: 50%;
    margin-top: -1cm;
    margin-right: 10%;
    border-radius: 0.5em;
    border: 1px solid black;
}
html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }